@media print {
    @page {
      margin-top: 11.1111%;
      margin-right: 11.1111%;
      margin-bottom: 22.2222%;
      margin-left: 11.1111%;
    }
    @page: left {
      margin-right: 22.2222%;
    }
    @page: right {
      margin-right: 22.2222%;
    }
    @page: first {
      margin-right: 22.2222%;
    }
  
    body {
      background: none;
      animation-fill-mode: backwards;
    }
  
    section {
      display: flex;
      flex-wrap: wrap;

      page-break-before: always;
      page-break-inside: avoid;
    }
  
    body > header {
      background: none;
      font-size: 2rem;
      box-shadow: none;
    }
  
    body > header h1,
    body > header p {
      text-shadow: none;
    }

    body > header p {
      align-items: center;
    }
  
    article h3,
    article p,
    article div {
      font-family: "lucida sans";
      text-align: center;
      color: #000;
    }

    article {
      width: 33.333%;
      background: none;
      border-right: 1px solid black;
      border-radius: 0;
      margin: 0;
    }
  
    article:nth-child(4),
    article:nth-child(7),
    article:nth-child(10) {
      border-right: 1;
    }
  
    section header,
    section h2 {
      min-width: 100%;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 3rem;
      color: #7cec98;
    }
  
    input,
    label {
      display: none;
    }
  }